<div class="admin">

    <div class="admin-biaoge" style="float:left;padding-left: 60px;margin-top: 20px;width:46%;">

        <div id="serviceTable" style="width:50%;float:left">
            <div>
                <h4 style="font-weight: bold; margin-bottom: 30px;float: left">Services</h4>
                <button  class="btn btn-primary " style="float: right;margin-right: 10px" ng-click="refreshServices()">Refresh</button>
            </div>
            <div style="clear: both"></div>

            <div ng-repeat="service in serviceGroup" style="margin-bottom: 8px">
                <input type="checkbox" icheck  value="{{service.serviceName}}" name="service">
                <span style="font-size: 16px;margin-left: 10px">{{service.serviceName}} : {{service.numOfReplicas}}</span>
            </div>
            <button ng-click="simpleSetInstance(1)" class="btn btn-primary" id="setOne">set to 1</button>
            <button  ng-click="simpleSetInstance(2)"  class="btn btn-primary" id="setN">set to n</button>
        </div>

        <div id="case-names"  style="width:49%; float:right">
            <h4 style="font-weight: bold; margin-bottom: 30px">TestCases</h4>
            <div ng-repeat="(key, names) in testCases" style="margin-bottom: 8px">
                <fieldset>
                    <legend style="font-size:18px;margin-bottom: 5px">{{key}}</legend>
                    <p ng-repeat="name in names">
                        <input type="checkbox" icheck value="{{name}}" name="testcase">
                        <span style="font-size: 16px;margin-left: 10px">{{name}}</span>
                    </p>
                </fieldset>
            </div>
            <!--<button ng-click="test()">2333</button>-->
        </div>


    </div>


    <div style="padding-right: 10px;margin-top: 50px;width:53%; float: right">

        <div>
            <!--<span style="font-size: medium;font-weight: bold">{{resultCount}}</span>-->

            <button  class="btn btn-primary " style="float: right;margin-right: 30px" ng-click="showDelta()">Connect
            </button>
            <button  class="btn btn-primary" style="float: right;margin-right: 20px;display: none" id="test-button" ng-click="sendDeltaData()">Start Delta
            </button>
        </div>

        <table class="table table-hover table-bordered" style="margin-top: 50px;width:100%">
            <thead >
                <tr style="background-color: #aeb2b7;color:#fff;">
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Service Env</span></th>
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Test Result</span></th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat=" result in deltaResults">
                    <td>{{result.services}}</td>
                    <td>
                        {{result.tests}}
                        <span ng-if="result.diff" style="color: red">
                            different from the first test!
                        </span>
                    </td>
                    <!--<td >-->
                    <!--<img ng-if="result.status == 'SUCCESS'" ng-src="img/pass.png">-->
                    <!--<img ng-if="result.status == 'FAILURE'" ng-src="img/failed.png">-->
                    <!--<img ng-if="result.status == 'SKIP'" ng-src="img/skip.png">-->
                    <!--</td>-->
                    <!--<td>{{result.startTime}}</td>-->
                 </tr>

            </tbody>
        </table>

        <fieldset>
            <legend style="font-size:18px;margin-bottom: 5px">delta result</legend>
            <span ng-model="instanceDeltaResult">{{instanceDeltaResult}}</span>
        </fieldset>

        <div style="border: 2px #a2abb6 dashed; margin-top: 20px;"></div>

        <div style="margin-top: 50px;margin-bottom: 10px">
            <button  class="btn btn-primary " id="refreshPodButton" style="float:right;margin-right: 20px" ng-click="refreshPod()">Refresh Pods List
            </button>
            <button  class="btn btn-danger" id="inspectPodButton" style="float:right; margin-right: 20px;" ng-click="getPodLogs()">Inspect Pod Logs
            </button>
            <div style="clear: both"></div>
        </div>
        <table class="table table-hover table-bordered" style="margin-top: 10px;width:650px;margin-left: 20px">
            <thead style="table-layout: fixed;display: table;width: 100%; ">
            <tr style="background-color: #aeb2b7;color:#fff;">
                <th></th>
                <th style="text-align: center;width: 350px"><span style="font-size:16px;font-weight: bold">Pod Name</span></th>
                <th style="text-align: center;width: 100px"><span style="font-size:16px;font-weight: bold">Status</span></th>
                <th style="text-align: center;width: 150px"><span style="font-size:16px;font-weight: bold">Node Name</span></th>
            </tr>
            </thead>
            <tbody style="height:350px;overflow-y: scroll;display: block;width: 650px">
            <tr  ng-repeat=" pod in podList" style="display:table;width:650px;table-layout:fixed;min-width: 650px;">
                <td><input type="radio" icheck name="pod" value="{{pod.name}}"></td>
                <td style="width: 350px">{{pod.name}}</td>
                <td style="width: 100px">{{pod.status}}</td>
                <td style="width: 150px">{{pod.nodeName}}</td>
            </tr>
            </tbody>
        </table>


        <div class="panel panel-primary" style="margin-left:10px;margin-top: 30px;height:550px">
            <div class="panel-heading">
                Logs
            </div>
            <div class="panel-body" id="instance-logs" style="height:90%; overflow-x: scroll;overflow-y: scroll;" >
                <article ng-bind-html="instancelogs | trustHtml">
                </article>
            </div>
        </div>

    </div>


</div>
