<div class="admin">

    <div class="admin-biaoge" style="float:left;padding-left: 60px;margin-top: 30px;width:45%;">

        <div id="serviceTable" style="width:55%;float:left">
            <h4 style="font-weight: bold; margin-bottom: 30px">Services</h4>
            <div ng-repeat="service in serviceGroup" style="margin-bottom: 8px">
                <input type="checkbox" icheck ng-model="service.checked" value="{{service.serviceName}}" name="service">
                <span style="font-size: 16px;margin-left: 10px">{{service.serviceName}} : {{service.numOfReplicas}}</span>
            </div>
            <!--<button  ng-click="test()"  class="btn btn-primary">test</button>-->
        </div>

        <div id="case-names"  style="width:45%; float:right">
            <h4 style="font-weight: bold; margin-bottom: 30px">TestCases</h4>
            <div ng-repeat="testcase in testCases" style="margin-bottom: 8px">
                <input type="checkbox" icheck ng-model="testcase.checked" value="{{testcase.title}}" name="testcase">
                <span style="font-size: 16px;margin-left: 10px">{{testcase.title}}</span>
            </div>
            <!--<button  ng-click="extractService()"  class="btn btn-primary">Service Delta</button>-->
        </div>

    </div>


    <div style="padding-right: 10px;margin-top: 50px;width:54%; float: right">

        <div>
            <!--<span style="font-size: medium;font-weight: bold">{{resultCount}}</span>-->
            <button  class="btn btn-primary " style="float: right;margin-right: 30px" ng-click="showDelta()">Connect
            </button>
            <button  class="btn btn-primary" style="float: right;margin-right: 20px;display: none" id="test-button" ng-click="sendDeltaData()">Start Delta
            </button>
        </div>

        <table class="table table-hover table-bordered" style="margin-top: 50px;width:100%">
            <thead >
                <tr style="background-color: #aeb2b7;color:#fff;">
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Service Env</span></th>
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Test Result</span></th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat=" result in deltaResults">
                    <td>{{result.services}}</td>
                    <td>
                        {{result.tests}}
                        <span ng-if="result.diff" style="color: red">
                            different from the first test!
                        </span>
                    </td>
                    <!--<td >-->
                    <!--<img ng-if="result.status == 'SUCCESS'" ng-src="img/pass.png">-->
                    <!--<img ng-if="result.status == 'FAILURE'" ng-src="img/failed.png">-->
                    <!--<img ng-if="result.status == 'SKIP'" ng-src="img/skip.png">-->
                    <!--</td>-->
                    <!--<td>{{result.startTime}}</td>-->
                 </tr>

            </tbody>
        </table>

    </div>


</div>
