<div class="admin">

    <div class="admin-biaoge" style="float:left;padding-left: 20px;margin-top: 30px;width:48%;">

        <table class="table table-hover table-bordered" style="margin-top: 50px;width:100%">
            <thead >
                <tr style="background-color: #aeb2b7;color:#fff;">
                    <th style="text-align: center"></th>
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Node Role</span></th>
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Node Name</span></th>
                    <th style="text-align: center"><span style="font-size:18px;font-weight: bold">Node IP</span></th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat=" node in nodeList">
                    <td ng-if="node.role == 'Master'"></td>
                    <td ng-if="node.role != 'Master'"><input type="checkbox" icheck  name="node" value="{{node.name}}"></td>
                    <td>{{node.role}}</td>
                    <td>{{node.name}}</td>
                    <td>{{node.ip}}</td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top: 50px;margin-bottom: 10px">
            <button  class="btn btn-primary " id="refreshPodButton" style="float:right;" ng-click="refreshPod()">Refresh Pod List
            </button>
            <button  class="btn btn-danger" id="inspectPodButton" style="float:right; margin-right: 20px;" ng-click="getPodLogs()">Inspect Pod Logs
            </button>
            <div style="clear: both"></div>
        </div>

        <table class="table table-hover table-bordered" style="margin-top: 10px;width:620px;">
            <thead style="table-layout: fixed;display: table;width: 100%; ">
            <tr style="background-color: #aeb2b7;color:#fff;">
                <th></th>
                <th style="text-align: center;width: 300px"><span style="font-size:16px;font-weight: bold">Pod Name</span></th>
                <th style="text-align: center;width: 100px"><span style="font-size:16px;font-weight: bold">Status</span></th>
                <th style="text-align: center;width: 150px"><span style="font-size:16px;font-weight: bold">Node Name</span></th>
            </tr>
            </thead>
            <tbody style="height:350px;overflow-y: scroll;display: block;width: 600px">
            <tr  ng-repeat=" pod in podList" style="display:table;width:620px;table-layout:fixed;min-width: 620px;">
                <td><input type="radio" icheck  name="pod" value="{{pod.name}}"></td>
                <td style="width: 300px">{{pod.name}}</td>
                <td style="width: 100px">{{pod.status}}</td>
                <td style="width: 150px">{{pod.nodeName}}</td>
            </tr>
            </tbody>
        </table>


    </div>


    <div style="padding-right: 20px;margin-top: 50px;width:50%; float: right">

        <div>
            <button  class="btn btn-primary " style="margin-right: 20px;float: right" ng-click="showDelta()">Connect
            </button>
            <button  class="btn btn-primary" style="margin-right: 20px;display: none;float: right" id="test-button" ng-click="deleteNodes()">Delete Nodes
            </button>
            <div style="clear: both"></div>
        </div>

        <div style="margin-top:30px;margin-left: 20px;padding:10px;border:2px #a2abb6 solid;border-radius: 4px;background-color: #FFFFFF;min-height:80px">
            <span ng-model="deleteResult">{{deleteResult}}</span>
        </div>

        <!--<div style="border: 2px #a2abb6 dashed; margin-top: 20px;margin-left: 20px;"></div>-->

        <div class="panel panel-primary" style="margin-left:10px;margin-top: 50px;height:550px">
            <div class="panel-heading">
                Logs
            </div>
            <div class="panel-body" id="node-logs" style="height:90%; overflow-x: scroll;overflow-y: scroll;" >
                <article ng-bind-html="nodelogs | trustHtml">
                </article>
            </div>
        </div>

    </div>


</div>
