<div class="admin">

    <div class="admin-biaoge" style="float:left;padding-left: 20px;margin-top: 30px;width:30%;">

        <div id="case-names"  style="width:98%; float:right">
            <h4 style="font-weight: bold; margin-bottom: 30px">TestCases</h4>
            <div ng-repeat="(key, names) in testCases" style="margin-bottom: 8px">
                <fieldset>
                    <legend style="font-size:18px;margin-bottom: 5px">{{key}}</legend>
                    <p ng-repeat="name in names">
                        <input type="checkbox" icheck value="{{name}}" name="testcase">
                        <span style="font-size: 16px;margin-left: 10px">{{name}}</span>
                    </p>
                </fieldset>
            </div>
            <!--<button ng-click="test()">2333</button>-->
        </div>

    </div>


    <div style="padding-right: 30px;margin-top: 50px;width:68%; float: right">

        <div>
            <!--<span style="font-size: medium;font-weight: bold">{{resultCount}}</span>-->
            <button  class="btn btn-primary " style="margin-right: 20px;float: right" ng-click="showDelta()">Connect
            </button>
            <button  class="btn btn-primary" style="margin-right: 30px;display: none;float: right" id="test-button" ng-click="extractService()">Start Delta
            </button>
            <div style="clear: both"></div>
        </div>

        <div style="margin-top:30px;margin-left: 20px;padding:10px;border:2px #a2abb6 solid;border-radius: 4px; background-color: #FFFFFF; min-height:80px">
            <span ng-model="reservedServices">{{reservedServices}}</span>
        </div>

        <div style="border: 2px #a2abb6 dashed; margin-top: 20px;margin-left: 20px;"></div>

        <div style="margin-top: 30px;margin-bottom: 10px">
            <button  class="btn btn-primary " id="refreshPodButton" style="float:right;margin-right: 50px" ng-click="refreshPod()">Refresh Pod List
            </button>
            <button  class="btn btn-danger" id="inspectPodButton" style="float:right; margin-right: 20px;" ng-click="getPodLogs()">Inspect Pod Logs
            </button>
            <div style="clear: both"></div>
        </div>
        <table class="table table-hover table-bordered" style="margin-top: 10px;width:820px;">
            <thead style="table-layout: fixed;display: table;width: 100%; ">
                <tr style="background-color: #aeb2b7;color:#fff;">
                    <th style="width: 50px"></th>
                    <th style="text-align: center;width: 300px"><span style="font-size:16px;font-weight: bold">Pod Name</span></th>
                    <th style="text-align: center;width: 100px"><span style="font-size:16px;font-weight: bold">Status</span></th>
                    <th style="text-align: center;"><span style="font-size:16px;font-weight: bold">Node Name</span></th>
                    <th style="text-align: center"><span style="font-size:16px;font-weight: bold">startTime</span></th>
                </tr>
            </thead>
            <tbody style="height:350px;overflow-y: scroll;display: block;width: 820px">
                <tr  ng-repeat=" pod in podList" style="display:table;width:820px;table-layout:fixed;min-width: 820px;">
                    <td style="width:50px;"><input type="radio" icheck  name="pod" value="{{pod.name}}"></td>
                    <td style="width: 300px">{{pod.name}}</td>
                    <td style="width: 100px">{{pod.status}}</td>
                    <td>{{pod.nodeName}}</td>
                    <td>{{pod.startTime}}</td>
                </tr>
            </tbody>
        </table>

        <div class="panel panel-primary" style="margin-left:10px;margin-top: 30px;height:550px">
            <div class="panel-heading">
                Logs
            </div>
            <div class="panel-body" id="service-logs" style="height:90%; overflow-x: scroll;overflow-y: scroll;" >
                <article ng-bind-html="servicelogs | trustHtml">
                </article>
            </div>
        </div>

    </div>


</div>
